<div class="row">
  <div class="col-xs-12">
    <form action="">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" class="form-control" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
        />
      </div>
      <div>
        <button class="btn btn-primary">Sign up</button> |

        <button class="btn btn-primary">Switch to login</button>
      </div>
    </form>
  </div>
</div>
